<nav [ngClass]='[isDropped?"nav-list":""]' class="navbar  navbar-inverse navbar-expand-md navbar-dark bg-dark show">
    <a class="navbar-brand" routerLink="/home">DoDo</a>
    <button #toggler (click)="toggleNavigation()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]='[isDropped?"show":""]' class="navbar-collapse collapse" id="navbars">
        <ul [ngClass]='[isDropped?"show nav-list":""]' class="navbar-nav mr-auto">
            <li [ngClass]='[isDropped?"show nav-list":""]' class="nav-item">
                <a class="nav-link" routerLink="/about">About Us</a>
            </li>
            <div class="display" *ngIf="!isLogged">
                <li  class="nav-item">
                    <a class="nav-link" routerLink="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/register">Register</a>
                </li>
            </div>
            <div [ngClass]='[isDropped?"show":"mr-auto"]' class="display navbar-nav" *ngIf="isLogged">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/events">My Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/events/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
                </li>
            </div>
        </ul>
        <form [ngClass]='[isDropped?"nav-list":""]' class="form-inline my-2 my-lg-0">
            <a [ngClass]='[isDropped?"nav-user-name":""]' class="font text-success nav-link" *ngIf="isLogged" routerLink="/user/profile">
                Hello
                <strong>{{firstName}}</strong>
            </a>
            <input name="query" [(ngModel)]="query" class="search form-control mr-sm-2" type="text"
                placeholder="Event Code" aria-label="Search">
            <button class="search btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
        </form>
    </div>
</nav>